
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <a href="@Url.Action("ItemsCreateUpdate","Customer")" class="panel">
        <div class="panel col-md-2 panelhover" style="margin:10px;">
            <div class="panel-body">
                <div class="row">
                    <div class="col">
                        <img />
                    </div>
                    <div class="col">
                        <h3>ເພີ່ມສີນຄ້າ</h3>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="@Url.Action("Items","Customer")" class="panel">
        <div class="panel col-md-2 panelhover" style="margin:10px;">
            <div class="panel-body">
                <div class="row">
                    <div class="col">
                        <img />
                    </div>
                    <div class="col">
                        <h3>ລາຍການສີນຄ້າ</h3>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="@Url.Action("Consolidation","Customer")" class="panel">
        <div class="panel  col-md-2 panelhover" style="margin:10px;">
            <div class="panel-body">
                <div class="row">
                    <div class="col">
                        <img />
                    </div>
                    <div class="col">
                        <h3>ສັງລວມ</h3>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="@Url.Action("ProfileDetail","Customer")" class="panel">
        <div class="panel col-md-2 panelhover" style="margin:10px;">
            <div class="panel-body">
                <div class="row">
                    <div class="col">
                        <img />
                    </div>
                    <div class="col">
                        <h3>ຂໍ້ມູນສ່ວນຕົວ</h3>
                    </div>
                </div>
            </div>
        </div>
    </a>

</div>

