
@{
    ViewBag.Title = "ສີນຄ້າທີ່ກຳລັງດຳເນີນການ";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
               
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index","Customer")">ຫນ້າຫລັກ</a></li>
                    <li class="active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container" id="containerResize">
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">ຕາຕະລາງ @ViewData["Title"]</strong>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-6 horizontal">
                                    <label>ຈາກວັນທີສົ່ງ</label>
                                    <input type="text" placeholder="ວັນ-ເດືອນ-ປີ" class="w-100" name="fromDate" onchange="searchByDate(this)" />
                                  

                                </div>
                                <div class="col-6 horizontal">

                                    <label>ຫາວັນທີ</label>
                                    <input type="text" placeholder="ວັນ-ເດືອນ-ປີ" class="w-100" name="toDate" onchange="searchByDate(this)" />
                                   
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="itemDataTable" class="table table-striped table-hover table-bordered" style="width:100%;white-space:nowrap;">
                                    <thead>
                                        <tr>
                                            <th class="control">ເລກຕິດຕາມ</th>
                                            <th class="control">ປະເພດສີນຄ້າ</th>
                                            <th class="control">ສະຖານະ</th>
                                            <th>ຊື່ຜູ້ຮັບ</th>
                                            <th>ເບີໂທຜູ້ຮັບ</th>
                                            <th>ທີ່ຢູ່ຜູ້ຮັບ</th>
                                            <th>ມື້ສົ່ງ</th>
                                            <th>ເກັບເງິນປາຍທາງ</th>
                                            <th class="control">ຝັງຊັ້ນ</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                           
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
</div>
<div class="modal fade" id="modal1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="content" class="text-center">
                    <strong id="popupmessage">ທ່ານແນ່ໃຈທີ່ຈະລືບລາຍການ?</strong>
                </div>
                <div id="modalButton" class="text-center">
                    <button class="btn btn-primary btn-flat mb-1 w-75" data-dismiss="modal">ອອກ</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        let table;
        jQuery(document).ready(function () {
            jQuery("input[name='fromDate']").datepicker({
                language: 'la'
            });

            jQuery("input[name='toDate']").datepicker({
                language: 'la'
            });
            itemTable();
        });
        function itemTable() {
            table = jQuery("#itemDataTable").DataTable({
                serverSide: true,
                responsive: true,
                paging: false,
                searching: false,
                language: LaoLangage,
                order:[[1,'desc']],
                ajax: {
                    url: "/Customer/ItemsInProcessTable",
                    type: "POST",
                    datatype: "json",
                    data: function(d){
                        d.fromDate= jQuery("input[name='fromDate']").val() || null,
                        d.toDate= jQuery("input[name='toDate']").val() || null
                    }
                },
                columns: [
                    { data: "TrackingNumber", name: "TrackingNumber" },
                    { data: "ItemName", name: "ItemName" },
                    { data: "Status", name: "Status" },
                    { data: "ReceiverName", name: "ReceiverName" },
                    { data: "ReceipverPhone", name: "ReceipverPhone" },
                    { data: "ReceiverAddress", name: "ReceiverAddress" },
                    { data: "ReceiveDate", name: "ReceiveDate" },
                    {
                        data: "Id", render: function (data, type, full, meta) {
                            let html = '';
                            if (full.ItemValue_Kip !== null) {
                                html += full.ItemValue_Kip + "ກີບ<br/>";
                            }
                            if (full.ItemValue_Baht !== null) {
                                html += full.ItemValue_Baht + "ບາດ<br/>";
                            }
                            if (full.ItemValue_Dollar !== null) {
                                html += full.ItemValue_Dollar + "ໂດລ້າ";
                            }
                            if (full.ItemValue_Kip === null && full.ItemValue_Baht === null && full.ItemValue_Dollar === null) {
                                html = 'ບໍ່ມີ';
                            }
                            return '<p>' + html + '</p>';
                        }
                    },
                    {
                        data: "Id", render: function (data, type, full, meta) {
                            let html = '';
                                html += '<button type="button" onclick="itemDetail(' + data + ')" class="btn btn-flat btn-warning btn-sm">ລາຍລະອຽດ</button>';                                                      
                            html += '';


                            return html;
                        }
                    }
                ]
            });
        }

        function searchByDate(source) {
            table.ajax.reload(null, false);
            jQuery(source).datepicker('hide');
        }

        function itemDetail(id) {
            let itemId = id;
            jQuery.ajax({
                url: "/Customer/ItemDetailPartial",
                type: "GET",
                data: { itemId: itemId },
                datatype: "json",
                success: function (r) {
                    jQuery("#content").html(r);
                    jQuery("#modal1").modal('show');
                }
            });       
        }     

    </script>

}