<li><a href="/admin/dashboard"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
<li><a href="/admin/categories"><em class="fa fa-list-ol">&nbsp;</em> ຈັດການປະເພດສິນຄ້າ</a></li>
<li><a href="/admin/colors"><em class="fa fa-clone">&nbsp;</em> ຈັດການສີ</a></li>
<li><a href="/admin/sizes"><em class="fa fa-object-group">&nbsp;</em> ຈັດການຂະໜາດ</a></li>
<li><a href="/admin/brands"><em class="fa fa-id-card">&nbsp;</em> ຈັດການຍີຫໍ້</a></li>
<li><a href="/admin/products"><em class="fa fa-cube">&nbsp;</em> ຈັດການສິນຄ້າ</a></li>
<li><a href="/admin/payments"><em class="fa fa-credit-card">&nbsp;</em> ຈັດການປະເພດຊຳລະ</a></li>
<li><a href="/admin/imports"><em class="fa fa-download">&nbsp;</em> ນຳເຂົ້າສິນຄ້າ</a></li>



