
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<div>
    <div>ສີນຄ້າຕ້ອງໄປຮັບ</div>
 
</div>
<a href="@Url.Action("Accounts","AdminAccount")">ບັນຊີຜູ້ໃຊ້ງານ</a>
<div>
    <div>ລູກຄ້າ</div>
</div>