
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<div>
    <div>ສີນຄ້າຕ້ອງໄປຮັບ</div>
 
</div>
<a href="@Url.Action("Accounts","AdminAccount")">ບັນຊີຜູ້ໃຊ້ງານ</a>

<a href="@Url.Action("Customer","Admin")">ລຸກຄ້າ</a>

<a href="@Url.Action("CreateUpdateItem","Admin")">ສ້າງສີນຄ້າ</a>