
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataInit</title>
</head>
<body>
    <div> 
        Please Press the special key to unlock the database
    </div>
<script>

</script>
</body>
</html>
