
@{
    Layout = null;
}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ເຂົ້າສູ່ລະບົບ</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="~/assets/css/normalize.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/css/cs-skin-elastic.css">
    <link href="~/LaoFont/style.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="~/assets/scss/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>
<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">

                    <img src="~/assets/Image/anoutsithlogo.png" height="70" />
                

                </div>
                <div class="login-form">
                    <form id="loginForm">
                        <div class="form-group">
                            <label>ເບີໂທລະສັບ</label>
                            <input type="text" name="phonenumber" class="form-control" placeholder="ເບີໂທລະສັບ">
                        </div>
                        <div class="form-group">
                            <label>ລະຫັດຜ່ານ</label>
                            <input type="password" name="password" class="form-control" placeholder="ລະຫັດຜ່ານ">
                        </div>
                        <button type="button" name="loginButton" onclick="LogIn()" class="btn btn-success btn-flat">ເຂົ້າສູ່ລະບົບ</button>
                        <div class="social-login-content">
                            <div class="social-button">
                                <button type="button" onclick='window.location="@Url.Action("Register","Account")"' class="btn social btn-flat btn-addon mb-3">ສະຫມັກສະມາຊິກ</button>
                                <button type="button" onclick='window.location="@Url.Action("Index","Account")"' class="btn social btn-secondary btn-flat btn-addon ">ຄົ້ນຫາສີນຄ້າຕາມເລກຕິດຕາມ</button>
                            </div>
                        </div>
                        <div class="register-link m-t-15 text-center">
                            <p>ລ໋ອກອີນໃນສະຖານະຜູ້ໃຊ້ລະບົບ <a href="@Url.Action("ULogin","Account")"> ກົດບ່ອນນີ້</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="content" class="text-center">
                        <strong>ເບີໂທ ແລະ ລະຫັດຂອງທ່ານຜິດ ກະລຸນາກວດໃຫມ່ອີກຄັ້ງ</strong>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-flat m-b-15 w-100" data-dismiss="modal">ອອກ</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script>

        function LogIn() {
            let phonenumber = jQuery('input[name="phonenumber"]').val();
            let password = jQuery('input[name="password"]').val();
            jQuery.ajax({
                url: "/Account/LoginForCustomer",
                data: {
                    phonenumber: phonenumber,
                    password: password
                },
                type: "POST",
                datatype: "json",
                success: function (r) {
                    if (r===true) {
                        window.location = "@Url.Action("Index","Customer")";
                    }
                    else {
                        jQuery('#modal1').modal("show");
                    }
                },
                error: function () {
                    alert("Server error");
                }
            });

        }

      
    </script>
</body>
</html>
