@model AnousithExpress.DataEntry.Models.TbTime

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}



<div>
    <h4>ລາຍລະອຽດເວລາສົ່ງ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ປ່ຽນແປງ", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("ກັບຄືນ", "Index")
</p>
