
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDelivery.cshtml";
}

<h2>Index</h2>

<a href="@Url.Action("ViewItemToGet","Delivery")">ສີນຄ້າຕ້ອງໄປຮັບ</a>

<a href="@Url.Action("ViewItemToSend","Delivery")">ສີນຄ້າຕ້ອງໄປສົ່ງ</a>

<a href="@Url.Action("CreateItem","Delivery")">ເພີ່ມສີນຄ້າ</a>
