<p>sdfsdfdsfsd</p>
<div><img src='@Url.Action("GetBarCode", new {trackingnumber= ViewBag.Trackingnumber })' /> </div>
@*<iframe id="barcodeFrame" style="width:100%;height:500px;border:none;" src="~/Reports/BarCodePage.aspx"></iframe>*@