
@{
    ViewBag.Title = "ປະຫວັດການສົ່ງເຄື່ອງ";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@model List<AnousithExpress.DataEntry.ViewModels.Admin.ItemHistoryModel>

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">

            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index","Admin")">ຫນ້າຫລັກ</a></li>
                    <li class="active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container" id="containerResize">
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <label>ຈາກວັນທີສົ່ງ</label>
                                    <input type="text" placeholder="ວັນ-ເດືອນ-ປີ" class="w-100" name="fromDateH" readonly="readonly"  />


                                </div>
                                <div class="col-5 horizontal">
                                    <label>ຫາວັນທີສົ່ງ</label>
                                    <input type="text" placeholder="ວັນ-ເດືອນ-ປີ" class="w-100" name="toDateH" readonly="readonly"  />

                                </div>
                              
                                    

                        
                            </div>    
                            <div class="row">
                                <div class="col text-center">
                                    <button class="btn btn-warning col-1" onclick="searchCustomerHistory()">ຄົ້ນຫາ</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="customerDataTable" class="table table-striped table-bordered" style="width:100%;white-space:nowrap;">
                                    <thead>
                                        <tr>
                                            <th>ເລກບັນຊີລຸກຄ້າ</th>
                                            <th>ລຸກຄ້າສົ່ງທັງຫມົດ</th>
                                            <th>ສີນຄ້າກຳລັງດຳເນີນການ</th>
                                            <th>ສົ່ງສຳເລັດ</th>
                                            <th>ສີນຄ້າຕີກັບ</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div><!-- .animated -->

    </div><!-- .content -->
</div>
<div class="modal fade" id="modal1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="content1" class="text-center">

                </div>
                <div id="modalButton1" class="text-center">

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var totalCustomerTable;
        jQuery(document).ready(function () {
            jQuery('input[name="fromDateH"]').datepicker({
                language:"la"
            });
            jQuery('input[name="toDateH"]').datepicker({
                language: "la"
            });
            itemTable();
        });
    function itemTable() {
        totalCustomerTable = jQuery("#customerDataTable").DataTable({
                serverSide: true,
                responsive: true,
                paging: true,
                pageLength: 25,

                lengthChange:false,
                searching: true,
                language: LaoLangage,
                order:[[1,'desc']],
                ajax: {
                    url: "/Admin/ItemHistoryTable",
                    type: "POST",
                    datatype: "json",
                    data: function (d) {
                        d.fromDate = jQuery('input[name="fromDateH"]').val(),
                        d.toDate = jQuery('input[name="toDateH"]').val()
                    }
                },
                columns: [
                    { data: "CustomerIdForshow", name: "CustomerIdForshow" },
                  
                    { data: "TotalItemReceiveForShow", name: "TotalItemReceiveForShow" },
                    { data: "TotalItemInProcessForShow", name: "TotalItemInProcessForShow" },
                    { data: "TotalItemSentForShow", name: "TotalItemSentForShow" },        
                    { data: "TotalItemReturnForShow", name: "TotalItemReturnForShow" },
                   
                    {
                        data: "Id", render: function (data, type, full, meta) {
                            let html = '';
                            html += '<button type="button" onclick="CustomerDetail('+ full.CustomerId+')" class="btn btn-flat btn-warning btn-sm">ລາຍລະອຽດ</button>';
                            html += '';


                            return html;
                        }
                    }
                   
                    
                ]
            });


        }
        function searchCustomerHistory(source) {
            totalCustomerTable.ajax.reload(null, false);
            jQuery(source).datepicker('hide');

        }
        function CustomerDetail(id) {
            let customerId = id;
            window.location = '@Url.Action("CustomerItemList","Admin")?customerId=' + customerId +'&tabIndex=4';
        }
    </script>
    }